@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: gray;
}
body {
  background-color: black;
  font-family: "Inter", sans-serif;
}
nav,
#banner,
#change-habit,
#run-extra,
#training,
#team {
  max-width: 75%;
  margin: 0 auto;
}
h2,
h3,
h4 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 57.6px;
}
h1,
h2,
h3,
h4,
h5,
h6,
caption {
  color: white;
}
p,
li,
th,
td {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.6);
}

/*NAV SECTION STARTS HERE*/
header {
  background: linear-gradient(
    to bottom,
    black,
    rgb(255, 255, 255, 0.12),
    rgb(255, 255, 255, 0.12),
    rgb(255, 255, 255, 0.12),
    rgb(255, 255, 255, 0.12),
    rgb(255, 255, 255, 0.12),
    rgb(255, 255, 255, 0.12),
    black
  );
}
nav,
#banner {
  margin: 0 auto;
}
nav {
  padding: 3rem 0 2rem 0;
}

nav,
nav > div > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > div > ul {
  list-style: none;
  gap: 3vw;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  border-radius: 30px;
}
header > nav > div > h2 {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 800;
  line-height: 43.2px;
  color: rgba(230, 83, 60, 1);
}
header > nav ul > li {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 21.6px;
}
.home-special {
  padding: 8px 20px 8px 20px;
  border-radius: 46px;
  background: rgba(230, 83, 60, 1);
  font-weight: 600;
  color: white;
}

#hamberger {
  display: none;
}
/*NAV SECTION ENDS HERE*/
/*



*/
/*BANNER SECTION STARTS HERE*/
#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}
#banner > div {
  max-width: 520px;
}
#banner h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 93.6px;
}
#banner h1 > span {
  font-size: 9rem;
  font-weight: 400;
}

#banner > div > p {
  padding: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
#banner .banner-button {
  display: flex;
  gap: 14px;
}
#banner .banner-button > button {
  padding: 16px 50px;
  border-radius: 42px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: white;
}
#banner .banner-button .button-1 {
  background: rgba(230, 83, 60, 1);
}
#banner .banner-button .button-2 {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: black;
}
#banner img {
  display: block;
}
.image-container {
  position: relative;
}
.add {
  position: absolute;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);
}
#add-1 {
  display: flex;
  align-items: center;
  bottom: 15%;
  left: -25%;
  gap: 10px;
  background: rgba(48, 48, 48, 0.54);
}
#add-1 h3 {
  font-size: 2.5rem;
  line-height: 3rem;
}
#add-1 p {
  font-size: 1rem;
  line-height: 2rem;
}
#add-2 {
  top: 20%;
  right: -10%;
}
#add-2 h3 {
  line-height: 3rem;
}
#add-2 p {
  font-size: 0.83rem;
}

/*BANNER SECTION ENDS HERE*/
/*




*/
/*CHANGE YOUR HABITS STARTS HERE*/
#change-habit {
  text-align: center;
  padding: 6rem 0rem 3rem 0rem;
}
#change-habit > p {
  max-width: 60%;
  margin: 0 auto;
  padding: 1rem 0rem 3rem 0rem;
}
#change-habit > div {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}
#change-habit h6 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 21.6px;
  padding: 1rem 0rem 0.2rem 0rem;
}
#change-habit img {
  border-radius: 50%;
  border: 4px solid black;
}
#change-habit > div > div > p {
  line-height: 18px;
}
/*CHANGE YOUR HABITS ENDS HERE*/

/*







*/
/*RUN AN EXTRA MILE EASILY STARTS HERE*/
#run-extra {
  display: flex;
  background-color: rgba(34, 34, 34, 1);
  border: 1px solid rgba(49, 49, 49, 0.8);
  align-items: center;
  border-radius: 1rem;
  justify-content: space-between;
  gap: 20%;
  margin: 3rem auto;
}
#run-extra p {
  padding: 1.2rem 0rem 2rem 0rem;
}
.text-part {
  width: 45%;
  padding-left: 3rem;
}
#run-extra button,
.submit {
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  width: 224px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 22px;
  background-color: orangered;
  border: none;
  color: white;
}
#run-extra .image-part {
  width: 50%;
  height: 380px;
}
#run-extra img {
  max-width: 100%;
  min-height: 100%;
  object-fit: none;
  object-position: 66% 33%;
  transform: scale(0.87);
  border-radius: 1.5rem;
}

/*RUN AN EXTRA MILE EASILY ENDS HERE*/
/*TRAININGS AND EXERCISES STARTS*/
#training .row-1 {
  display: grid;
  grid-template-columns: 34fr 68fr 38fr;
  height: 200px;
}
#training .row-2 {
  display: grid;
  grid-template-columns: 56fr 38fr 46fr;
  height: 200px;
}
.training-heading {
  max-width: 671px;
  padding: 4rem 0rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.rows > img {
  position: relative;
  background-size: cover;
}
.rows > .image-1 {
  background: linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)),
    url("images/exercise1.jpg");
  background-size: 323px 218px;
  left: -16px;
}
.rows > .image-2 {
  background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),
    url("images/exercise2.png");

  background-size: 539px 256px;
}
.rows > .image-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/exercise3.png");

  background-size: 388px 214px;
}
.rows > .image-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/exercise4.png");

  background-size: 435px 240px;
}
.rows > .image-5 {
  background: linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)),
    url("images/exercise5.jpg");

  background-size: 408px 219px;
}
.rows > .image-6 {
  background: linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)),
    url("images/exercise6.jpg");

  background-size: 376px 250px;
}

/*TRAININGS AND EXERCISES ENDS*/
/*



*/
/*BMI CALCULATOR STARTS*/
#bmi-cal {
  max-width: 1440px;
}
.bmi-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0px;
}
#calculator {
  max-width: 75%;
  margin: 0 auto;
  text-align: left;
}
#calculator table {
  border-collapse: collapse;
  font-size: 1rem;
}
#calculator th,
#calculator td {
  padding: 0.7rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.calculator-parrent {
  background-color: rgba(34, 34, 34, 1);
  padding: 3rem 0px;
}
#calculator {
  display: flex;
}
#calculator > div {
  width: 50%;
}
#calculator input,
select {
  width: 100%;
  height: 3rem;
  padding: 12px 20px;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
}
#calculator input::placeholder {
  color: rgba(255, 255, 255, 1);
}
#calculator caption {
  text-align: left;
  padding-bottom: 50px;
  font-size: 2rem;
  font-weight: 900;
  line-height: 33.6px;
}
#calculator .calculator-part > h5 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 33.6px;
  padding-bottom: 1rem;
}
form {
  padding: 2rem 0px 1rem 0px;
}

#calculator select {
  appearance: none;
  background-image: url("images/arrow.png");
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}
option {
  padding-right: 1rem;
}
#calculator form > div {
  gap: 1rem;
}

#calculator form > div {
  display: flex;
}

/*BMI CALCULATOR ENDS*/
/* 


*/
/* MEET OUR TEAM STARTS */
.team-heading {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0px 3rem 0px;
}
#team .member-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid black;
  padding: 1.5rem;
  border-radius: 28px;
  min-height: 600px;
  margin-bottom: 5rem;
}
.trainers {
  position: relative;
}
.trainers > div {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.trainers h5 {
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0px;
}
.member-container > .member-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/trainer1.png");
  background-size: 100% 100%;
}
.member-container > .member-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/trainer2.png");
  background-size: 100% 100%;
}
.member-container > .member-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/trainer3.png");
  background-size: 100% 100%;
}
.member-container > .member-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/trainer4.png");
  background-size: 100% 100%;
}
.member-container > .member-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/trainer5.png");
  background-size: 100% 100%;
}
.member-container > .member-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/trainer6.png");
  background-size: 100% 100%;
}
.member-container > div {
  height: 100%;

  border-radius: 18px;
  border: 1px solid black;
}
/* MEET OUR TEAM ENDS */
/* 


*/
/* FOOTER STARTS */
footer {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid black;
}

footer > .footer > div {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0px 3rem 0px;
}
footer > .footer > div > div > h3 {
  font-size: 4.4rem;
  font-style: italic;
  font-weight: 800;
  line-height: 84px;
  color: rgba(230, 83, 60, 1);
  margin-bottom: 1.5rem;
}
footer > .footer > div > div > p {
  max-width: 443px;
}
footer .table {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
footer .table th {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 38.4px;
  padding: 2rem 0rem 1rem 0rem;
}
footer .table td {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 27.6px;
  padding-top: 1rem;
}
footer > div > div {
  max-width: 50%;
}

.copy > div {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}
.copy p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
  padding: 2rem;
}
/* FOOTER ENDS */

/*RESPONSIVE PART STARTS HERE*/
/*RESPONSIVE FOR MIDIUM DEVICE*/
@media screen and (max-width: 992px) {
  #banner {
    flex-direction: column;
    min-width: 80%;
  }
  #add-1 {
    bottom: 25%;
    left: -15%;
  }
  #add-2 {
    top: 5%;
    right: -15%;
  }
  #change-habit > div {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
}

/*RESPONSIVE FOR SMALL DEVICE*/
@media screen and (max-width: 576px) {
  nav > div > ul {
    display: none;
  }
  #hamberger {
    display: block;
  }
  #banner {
    flex-direction: column;
  }
  #add-1 {
    bottom: 40%;
    left: -5%;
  }
  #add-2 {
    top: 5%;
    right: -5%;
  }
  .add {
    padding: 10px;
  }
  #change-habit > div {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
  #run-extra {
    flex-direction: column;
  }
}

/*RESPONSIVE PART ENDS HERE*/
