.triangle-right {
  width: 0;
  height: 0;
  border-bottom: 9px solid transparent;
  border-left: 16px solid white;
  border-top: 9px solid transparent;
  position: relative;
  left: 2px;
}
.circle-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}
