*{
  padding:0px;
  margin: 0px;
}
.justifing{
  display:flex;
/*  justify-content: center;*/
  align-items: center;
}
body{
  max-width: 80%;
  margin:0 auto;
  background-color: black;
  color:white;
}